.btn {
    padding: var(--padding-xs) var(--padding-s);
    border: none;
    font-family: var(--font-family-text);
    border-radius: var(--border-radius-s);
    cursor: pointer;
    font-size: var(--font-size-s);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--gap-xs);
}

.btn.primary {
    background-color: var(--primary-color);
    color: var(--bg-color);
}

.btn.primary:hover {
    background-color: var(--primary-color-hover);
}

.btn.secondary {
    background-color: var(--secondary-color);
    color: var(--text-color);
}

.btn.secondary:hover {
    background-color: var(--secondary-color-hover);
}

.btn.outline {
    border: 1px solid var(--primary-color);
    background-color: var(--bg-color);
}

.btn.outline:hover {
    background-color: var(--primary-color);
    color: var(--bg-color);
}

.btn.matched {
    background-color: var(--success-color);
    color: var(--bg-color);
}

.btn.matched:hover {
    background-color: var(--success-color-hover);
    color: var(--bg-color);
}

.btn.visited {
    background-color: var(--primary-color-light);
    color: var(--bg-color);
}

.btn.visited:hover {
    background-color: var(--primary-color-light-hover);
    color: var(--bg-color);
}

.btn:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}
