.footer {
    background-color: var(--secondary-color);
    padding: var(--padding-s);
    width: 100%;
}

.footer ul {
    display: flex;
    justify-content: center;
    gap: var(--gap-m);
}

.footer ul li a {
    cursor: pointer;
}

footer ul li a img {
    transition: transform 0.3s ease;
}

footer ul li a img:hover {
    transform: scale(1.1) rotate(15deg);
}
